.App {
  display: flex;
  justify-content: space-evenly;
  font-family: sans-serif;
  text-align: center;
  padding-top: 50px;
}
/* @media (min-width: 600px) {
  .App {
    height: 250px;
    width: 300px;
  }
} */
.time {
  font-size: 40px;
  color: aliceblue;
}
.dimension {
  color: aliceblue;
}
