/* faq previews / list */
.faq-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border: 1px solid #fafafa;
}
.faq-preview:hover {
  box-shadow: 4px 4px 8px rgba(63,81,181,0.2);
  border-radius: 2%;
}
.faq-preview h4 {
  font-size: 20px;
  color: #3f51b5;
  margin-bottom: 8px;
}